extends layout

block content
  section.au-body
    .container-fluid
      .row
        .col-md-12
          .au-body.au-page-alerts.au-page-alerts--success(role='alert' style='max-width:42em;')
            h3 Completed
            p
              | We have received your information and registered your interest in before and after school care.
          h2 What happens next?
          p
            | The NSW Government is spending $120 million improving before and after school care.
          p
            | Your information will help us to make services better in the right places. We&apos;ll let you know if more places become available near you.
          h2 If your situation changes
          p
            | If you&apos;d like to change the information you entered here, please contact 
            a(href='#') outofschoolhours@service.nsw.gov.au
