extends layout

block content
  section.au-body
    .container-fluid
      .row
        p
          | The NSW Government is making it easier for families to find care for children before and after school.
        p
          | If you don&apos;t have any options for care out of school hours, let us know by filling in the form below. We&apos;ll keep you up to date on places in your area, and let you know if places become available.
        p
          | If it&apos;s been hard to find care in the past, we&apos;d like to know more about why. By letting us know, you&apos;ll be helping us plan better services in the right areas.
        h2 Before you start
        p
          | You will need to provide some information so that we can keep you up to date on places near you. We&apos;ll ask you:
        ul
          li What school your child goes to
          li Which times and days you need to find care
          li The age of your child (or children)
        form
          // FORM SUBMIT BUTTON
          .form-item
            a.au-btn(href='personal-information.html')
              | Register your interest